RapidFuzz==3.14.6
anyascii==0.3.3
cloudpickle==3.1.2
joblib==1.6.0
lightgbm==4.7.0
narwhals==2.26.0
numpy==2.5.3
polars==1.44.2
polars-runtime-32==1.44.2
psutil==7.2.2
scikit-learn==1.9.1
scipy==1.18.1
sparse-dot-topn==1.2.0
threadpoolctl==3.7.0
xgboost==3.4.1
